{% extends "layout" %}

{% block scripts %}
<script src="/scripts/login.js"></script>
<script src="/scripts/logout.js"></script>
<script src="/scripts/register.js"></script>
{% endblock %}



{% block content %}


<h1>Üdvözöllek a filmek világában!</h1>

<div class="row">

  {% for category in categories %}
  <div class="col-lg-4 col-md-6 col-sm-12">
    {% if category.id == 1 %}
    <div class="panel panel-default">
    {% endif %}
    {% if category.id == 2 %}
    <div class="panel panel-danger">
    {% endif %}
    {% if category.id == 3 %}
    <div class="panel panel-warning">
    {% endif %}
    {% if category.id == 4 %}
    <div class="panel panel-success">
    {% endif %}
    {% if category.id == 5 %}
    <div class="panel panel-info">
    {% endif %}
    {% if category.id == 6 %}
    <div class="panel panel-primary">
    {% endif %}
      <div class="panel-heading">{{ category.name }}</div>
      <ul class="list-group">
        {% for film in category.topFilms %}
        <li class="list-group-item">
          <a href="/films/{{ film.id }}">
            {{ film.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
 {% endfor %}

</div>

{% endblock %}