{% extends "layout" %}

{% block scripts %}
<script src="/scripts/logout.js"></script>
{% endblock %}

{% block content %}
<h2>{{currentUser.username}}</h2>

<table class="table table-striped table-hover ">
  <tbody>
    <tr>
      <td>Felhasználónév</td>
      <td>{{ currentUser.username }}</td>
    </tr>
        <tr>
      <td>Email cím</td>
      <td>{{ currentUser.email }}</td>
    </tr>
        <tr>
      <td>Regisztráció időpontja</td>
      <td>{{ currentUser.created_at }}</td>
    </tr>
     </tr>
        <tr>
      <td>Utolsó módosítás időpontja</td>
      <td>{{ currentUser.updated_at }}</td>
    </tr>
  </tbody>
</table>

<br>
<h5>Feltöltött filmek</h5>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>ID</th>
      <th>Film címe</th>
      <th>Kategória</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  {% for film in films %}
  {% if film.user_id==currentUser.id %}
  <tbody>
  {% if film.category_id == 1 %}
  <tr>
  <td class="active">{{film.id}}</td>
  <td class="active">{{film.name}}</td>
  {% for category in categories %}
  {% if category.id==film.category_id %}
  <td class="active">{{category.name}}</td>
  {% endif %}
  {% endfor %}
  <td><a class="result-item" href="/films/{{ film.id }}"><button type="submit" class="btn btn-success btn-sm">Megtekintés</button></a></td>
  <td><a href="/films/{{ film.id }}/delete" class="btn btn-danger btn-sm">Töröl</a></td>
  </tr>
  {% endif %}
  {% if film.category_id == 2 %}
  <tr>
  <td class="danger">{{film.id}}</td>
  <td class="danger">{{film.name}}</td>
  {% for category in categories %}
  {% if category.id==film.category_id %}
  <td class="danger">{{category.name}}</td>
  {% endif %}
  {% endfor %}
  <td><a class="result-item" href="/films/{{ film.id }}"><button type="submit" class="btn btn-success btn-sm">Megtekintés</button></a></td>
  <td><a href="/films/{{ film.id }}/delete" class="btn btn-danger btn-sm">Töröl</a></td>
  </tr>
  {% endif %}
  {% if film.category_id == 3 %}
  <tr>
  <td class="warning">{{film.id}}</td>
  <td class="warning">{{film.name}}</td>
  {% for category in categories %}
  {% if category.id==film.category_id %}
  <td class="warning">{{category.name}}</td>
  {% endif %}
  {% endfor %}
  <td><a class="result-item" href="/films/{{ film.id }}"><button type="submit" class="btn btn-success btn-sm">Megtekintés</button></a></td>
  <td><a href="/films/{{ film.id }}/delete" class="btn btn-danger btn-sm">Töröl</a></td>
  </tr>
  {% endif %}
  {% if film.category_id == 4 %}
  <tr>
  <td class="success">{{film.id}}</td>
  <td class="success">{{film.name}}</td>
  {% for category in categories %}
  {% if category.id==film.category_id %}
  <td class="success">{{category.name}}</td>
  {% endif %}
  {% endfor %}
  <td><a class="result-item" href="/films/{{ film.id }}"><button type="submit" class="btn btn-success btn-sm">Megtekintés</button></a></td>
  <td><a href="/films/{{ film.id }}/delete" class="btn btn-danger btn-sm">Töröl</a></td>
  </tr>
  {% endif %}
  {% if film.category_id == 5 %}
  <tr>
  <td class="info">{{film.id}}</td>
  <td class="info">{{film.name}}</td>
  {% for category in categories %}
  {% if category.id==film.category_id %}
  <td class="info">{{category.name}}</td>
  {% endif %}
  {% endfor %}
  <td><a class="result-item" href="/films/{{ film.id }}"><button type="submit" class="btn btn-success btn-sm">Megtekintés</button></a></td>
  <td><a href="/films/{{ film.id }}/delete" class="btn btn-danger btn-sm">Töröl</a></td>
  </tr>
  {% endif %}
  {% if film.category_id == 6 %}
  <tr>
  <td class="primary">{{film.id}}</td>
  <td class="primary">{{film.name}}</td>
  {% for category in categories %}
  {% if category.id==film.category_id %}
  <td class="primary">{{category.name}}</td>
  {% endif %}
  {% endfor %}
  <td><a class="result-item" href="/films/{{ film.id }}"><button type="submit" class="btn btn-success btn-sm">Megtekintés</button></a></td>
  <td><a href="/films/{{ film.id }}/delete" class="btn btn-danger btn-sm">Töröl</a></td>
  </tr>
  {% endif %}
  </tbody>
  {% endif %}
  {% endfor %}
</table>
{% endblock %}
